extends layout

block content
  h1 Delete Genre:
    h2 #{genre.name}
  
  if genre_books.length
    p #[strong If you would like to delete this genre, please remove this genre from the following books:]
    
    h2 Books
    
    dl
      each book in genre_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p This genre has no books. You may delete it...

    p Do you really want to remove the genre:
      h3 #{genre.name}?

    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=genre._id )

      button.btn.btn-primary(type='submit') DELETE