extends layout

block content
  h1 #{title}
  
    
  if show_list
    p The following genres have already been created. If you would like to add another genre, use the form below.
    div#genre-list
      each genre in genre_list
        a.genre-item(href=genre.url) #{genre.name}
    
  form(method='POST' action='')
    div.form-group
      label(for='name') Genre:
        if !show_list
          h3 #{genre.name}
        input#name.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='name' value=(undefined===genre ? '' : genre.name))
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg